asgiref>=3.8.1
dj-database-url>=2.1.0
Django>=6.0.2
django-cors-headers>=4.3.0
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.2.2
gunicorn>=21.2.0
PyJWT>=2.8.0
python-dotenv>=1.0.0
sqlparse>=0.4.4
tzdata>=2023.3
whitenoise>=6.5.0
cloudinary>=1.41.0
django-cloudinary-storage>=0.3.0
psycopg2-binary>=2.9.7
channels>=4.0.0
daphne>=4.0.0
channels-redis>=4.0.0
